[submodule ".registry"]
	path = .registry
	url = https://github.com/kaskr/kaskr.r-universe.dev
	branch = HEAD
[submodule "RTMB"]
	path = RTMB
	url = https://github.com/kaskr/RTMB
	subdir = RTMB
[submodule "RTMBp"]
	path = RTMBp
	url = https://github.com/kaskr/RTMB
	branch = RTMBp
	subdir = RTMBp
